header {
  display: flex;
  background: linear-gradient(30deg, grey, black);
  color: whitesmoke;
  margin: 0;
  padding: 0;
  justify-content: space-between;

  & h1 {
    position: relative;
    left: 5%;
  }

  & .logo {
    display: flex;
    align-items: center;
    gap: 10px;

    & .Expenselogo {
      transform: scale(0.7);
    }
  }
}
